{% extends "basetwocolumns.html" %}

{% block pagination %}
	<li><a href="{{url_for('itemcatalogbp.catalog')}}">Home</a></li>
	<li class="active"><a href="#">{{ categorySelected.name }}</a></li>
{% endblock %}

{% block categories %}
	{% include 'categories.html' %}
{% endblock %}

{% block content %}
	{% if 'username' in session %}
		<div class='col-md-6 col-sm-6 col-xs-6'>
			<h4>
				{{categorySelected.name}} &nbsp;
					<span >
						<small>
							<a style="color:lightgray !important;" href="{{url_for('.categoryEdit', category_id = categorySelected.id)}}">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true">
								</span>
							</a>
							<a style="color:lightgray !important;" href="{{url_for('.categoryDelete', category_id = categorySelected.id)}}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true">
								</span>
							</a>
						</small>
					</span>
			</h4>
		</div>
		<div class='col-md-6 col-sm-6 col-xs-6'>
			<h4 class='text-right'>
				<a href="{{url_for('.categoryNewItem', category_id = categorySelected.id)}}">
						 add item <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
			</h4>
		</div>
	{% else %}
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<h4>
				{{categorySelected.name}}
			</h4>
		</div>
	{% endif %}
	
	
	{% if 0 == itemslist|length %}
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<div class="alert alert-info" role="alert">no items found</div>
		</div>
	{% else %}	
		{% for i in itemslist %}
			{% include 'itemthumbtemplate.html' %}
		{% endfor %}
	{% endif %}	
{% endblock %}